<h4>Rename folder</h4>

<%= form_for @folder do | f | %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
<% end %> 

<%= link_to 'Delete', folder_path, method: 'delete', :data => { :confirm => 'Are you sure? This will also delete all contained files.' }  %>