<h1>Login</h1>


<% unless flash[:error].nil? %> 
    <p><%= flash[:error] %></p>
<% end %>

<%= form_tag login_path, :html => {:class => 'form-group d-flex flex-column align-items-start'} do %> 
    <div class='md-1'>
        <%= label_tag :email %>
        <%= email_field_tag :email %>
    </div> 
    <div class='md-1'>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div> 
    <div class='md-1'>
        <%= submit_tag 'Login', :class => "btn btn-secondary" %>
    </div> 
<% end %> 