<div class='container flex-grow-1 d-flex flex-column'>
    <h4>Contact list</h4>

    <div class='row flex-grow-1 d-flex flex-row '>
        <div class='container col-2 d-flex flex-column'>
            <% User.all.order(:name).each do | u | %>
                <% unless u.id == @current_user.id %>
                    <% if u.id == params[:id].to_i %>
                    <%= link_to "#{u.name}", chat_path(u), :class => "mb-2 btn btn-secondary" %>
                    <% else %>
                        <% if Chat.where(to_user: @current_user.id, from_user:u.id).count > 0 && Chat.where(to_user: @current_user.id, from_user:u.id, seen: false).exists? %>
                            <%= link_to "#{u.name}", chat_path(u), :class => "mb-2 btn btn-outline-danger" %>
                        <% else %>
                            <%= link_to "#{u.name}", chat_path(u), :class => "mb-2 btn btn-outline-secondary" %>
                        <% end %>                    
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class='container col-10 flex-grow-1 d-flex flex-column'> 

            <div id="message-window" class='container' style="overflow: scroll; height: calc(100vh - 250px);" >


                <% @messages.each do | msg | %>
                    <% if msg.from_user == @current_user.id %>
                        <div class='col-12 d-flex flex-row justify-content-end'>
                            <span class='col-3 border bg-primary text-white p-1 rounded'>
                                <p><%= msg.message %></p>
                            </span>
                        </div>
                        <div class='col-12 d-flex flex-row justify-content-end'>
                            <span class='col-3'>
                                <p class='text-secondary small'><%= msg.created_at.strftime('%a %e %b %y, %I:%M %P') %></p>
                            </span>
                        </div>

                    <% else %>
                    <div class='col-12 d-flex flex-row justify-content-start'>
                            <span class='col-3 border bg-secondary text-white p-1 rounded'>
                                <p><%= msg.message %></p>
                            </span>
                        </div>
                        <div class='col-12 d-flex flex-row justify-content-start'>
                            <span class='col-3'>
                                <p class='text-secondary small'><%= msg.created_at.strftime('%a %e %b %y, %I:%M %P') %></p>
                            </span>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <script>scrollSlow()</script>

            <div class='row w-100'>
                
                <%= render :partial => 'new' %>

            </div>

        </div>
    </div>
</div>
