<%= form_for @file, :html => {:class => 'form-group'} do | f | %>
    <div class='my-1'>
        <%= f.label :name, 'Rename File' %>
        <%= f.text_field :name%>
    </div> 
    <div class='my-1'>
        <%= f.label :folder_id, 'Change Folder' %>
        <%= f.select :folder_id, @current_user.folders.pluck(:name, :id)%>    
    </div>
    <div class='my-1'> 
        <%= f.submit 'Update', :class => "btn btn-secondary" %>
    </div>
<% end %> 