<h4>Edit this file</h4>

<%= form_for @file do | f | %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :folder_id %>
    <%= f.select :folder_id, @current_user.folders.pluck(:name, :id) %>     
    <%= f.submit %>
<% end %> 

<%= link_to 'Delete', upload_path, method: 'delete', :data => { :confirm => 'Are you sure?' }  %>