<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />



<ul>
<% @folders.each do | folder | %>
   <li><%= folder.name %>
      <ul>
         <% folder.uploads.each do | file | %>
            <%= file.name %>
         <% end %>
      </ul>
   </li>
<% end %>
</ul>




<%= link_to "Upload new file", new_upload_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @uploads.each do |upload| %>
         
         <tr>
            <td><%= upload.name %></td>
            <td><%= link_to "Download file", upload.attachment_url %></td>
            <td><%= button_to "Delete",  upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>