
<h2>File Upload and Sharing</h2>

<%= link_to "Upload new file", new_upload_path %>
<%= link_to "Create a new folder", new_folder_path %>

<br>
<table class='table table-striped'>
   <thead>
      <tr class='row'>
         <th class='col-4'>Folders</th>
         <th class='col-6'>Files</th>
         <th class='col-2'></th>
      </tr>
   </thead>
   <% @folders.each do | folder | %>
      <tr class='row'>
         <td class='col-4'><%= folder.name %></td>
         <td class='col-6'></td>
         <td class='col-2'><%= link_to "Folder Actions", edit_folder_path(folder)%></td>
      </tr>
         
      <% if folder.uploads.count > 0 %>
         <% folder.uploads.each do | f | %>
         <% path = f.attachment.file.file %>
         <tr class='row'>
            <td class='col-4'></td>
            <td class='col-6'><%= link_to f.name, path.slice((path.index('public/') + 'public/'.length - 1)..path.length) %></td>
            <td class='col-2'><%= link_to "File Actions", edit_upload_path(f)%></td>
         </tr>  
         <% end %> 
      <% end %>
   <% end %>
</table>


