<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <div class='container'>
      <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <a class='nav-item col-2' href='/'>Home</a>
        <% if @current_user.nil? %>
          <%= link_to 'Log in', login_path, :class => 'nav-item col-2' %>
          <%= link_to 'New Account', new_user_path, :class => 'nav-item col-2' %>
        <% else %>
          <%= link_to 'Log out', root_path, :method => 'delete', :class => 'nav-item col-2' %>
        <% end %>
      </nav>
      <% if @current_user.present? %>
        <h4 class='nav-item'>Hello, <%= @current_user.name %></h4>
      <% end %>

      <div id='main-box'>
        <%= yield %>
      </div>

    </div>


  </body>
</html>
