<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <a href='/'>Home</a>
      <% if @current_user.nil? %>
        <%= link_to 'Create an Account', new_user_path %>
        <%= link_to 'Log in', login_path %>
      <% else %>
        <p>Hello, <%= @current_user.name %></p>
        <%= link_to 'Log out', root_path, :method => 'delete' %>
      <% end %>
    </nav>

    <div id='main-box'>
      <%= yield %>
    </div>

  </body>
</html>
