<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div id='toast-box' class='d-flex flex-column' aria-live="polite" aria-atomic="true" style="position: absolute; top: 0; right: 0; z-index: 100; width: 350px;">
    </div>

    <div class='container vh-100 d-flex flex-column'>
      <nav class='navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between'>
        <div>
          <%= link_to 'Home', root_path, :class => 'nav-item mr-3' %>
          <%= link_to 'File Sharing', uploads_path, :class => 'nav-item mr-3' %>
          <%= link_to 'Messaging', chats_path, :class => 'nav-item mr-3' %>
        </div>
        <div>
          <% if @current_user.nil? %>
            <%= link_to 'Log in', login_path, :class => 'nav-item mr-3' %>
            <%= link_to 'New Account', new_user_path, :class => 'nav-item mr-3' %>
          <% else %>
            <%= link_to 'Log out', root_path, :method => 'delete', :class => 'nav-item mr-3' %>
          <% end %>
        </div>
      </nav>
      <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <% if @current_user.present? %>
          <p class='nav-item'>Hello <%= @current_user.name %></p>
          <p id='session-id' style='display: none;'><%= @current_user.id %></p>
        <% end %>
      </nav>

      <div class='container flex-grow-1 d-flex flex-column'>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
